@import "tailwindcss";

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pop-3d {
    background: #f0f4f8;
    box-shadow: 
      8px 8px 16px #d1d9e6, 
      -8px -8px 16px #ffffff;
  }
  
  .pop-3d-inset {
    background: #f0f4f8;
    box-shadow: 
      inset 5px 5px 10px #d1d9e6, 
      inset -5px -5px 10px #ffffff;
  }
}

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
  @apply bg-slate-100;
}

html {
  scroll-behavior: smooth;
}

* {
  direction: rtl;
  text-align: right;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
